@{

    ViewData["Title"] = "About Us";
}

<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Message"]</h3>

<div>
<h1>About this Application</h1>
<p>This is an application that allows you to control an Arduino.</p>
<p>It is currently set up for a bio-mech arm.</p>
</div>
