@{
    ViewData["Title"] = "Contact Information";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    104 Mulberry Pl.<br />
    Douglassville, PA 19518<br />
    Phone: 610-385-6035
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support">bstac040@gmail.com</a><br />
    <strong>CEO:</strong> <a href="mailto:CEO">rstack@dejazzd.com</a>
</address>
